<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Machine.Specifications" version="0.12.0" targetFramework="net462" />
  <package id="Machine.Specifications.Should" version="0.11.0" targetFramework="net462" />
  <package id="PostSharp" version="6.0.18" targetFramework="net462" />
  <package id="PostSharp.Patterns.Aggregation" version="6.0.18" targetFramework="net462" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="6.0.18" targetFramework="net462" />
  <package id="PostSharp.Patterns.Common" version="6.0.18" targetFramework="net462" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.0.18" targetFramework="net462" />
  <package id="PostSharp.Patterns.Threading" version="6.0.18" targetFramework="net462" />
  <package id="PostSharp.Patterns.Threading.Redist" version="6.0.18" targetFramework="net462" />
  <package id="PostSharp.Redist" version="6.0.18" targetFramework="net462" />
</packages>