<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="10.1.5" targetFramework="net462" />
  <package id="NLog" version="4.3.9" targetFramework="net462" />
  <package id="NLog.Schema" version="4.3.9" targetFramework="net462" />
  <package id="PostSharp" version="4.3.21" targetFramework="net462" />
  <package id="PostSharp.Patterns.Common" version="4.3.21" targetFramework="net462" />
  <package id="PostSharp.Patterns.Threading" version="4.3.21" targetFramework="net462" />
</packages>